[Desktop Entry]
Name=VoxText
Comment=Offline Speech To Text
Type=Application
Terminal=false
Categories=Utility;

# IMPORTANT: set working directory
Path=/home/elplatanito/VoxText

# IMPORTANT: use absolute Exec
Exec=/bin/bash /home/elplatanito/VoxText/run.sh

Icon=audio-input-microphone