[Desktop Entry]
Version=1.0
Type=Application
Name=VoxText
Comment=Offline Speech To Text
Path=__APP_DIR__
Exec=/bin/bash __APP_DIR__/run.sh
Icon=audio-input-microphone
Terminal=false
Categories=Utility;